@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 96%);
    margin: 0;
    padding: 0px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header {
    background-color: #5ea752;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #000000;
}

#logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.category {
    padding: 35px;
    position: relative;
    overflow-x: hidden;
    max-width: 1000px;
    background: #fff;
    border-radius: 13px;
    margin: 0 auto;
}

.category .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 70%, transparent);
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 70%, transparent);
}

.icon i {
    width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
}

.icon i:hover {
    background: #efedfb;
}

.icon:first-child i {
    margin-left: 15px;
} 

.icon:last-child i {
    margin-right: 15px;
} 

.category .tabs-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: auto 0;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}
.tabs-box .tab {
    cursor: pointer;
    font-size: 1.18rem;
    white-space: nowrap;
    background: #f5f4fd;
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #d8d5f2;
}

.tabs-box .tab:hover{
    background: #efedfb;
}

.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active{
    color: #fff;
    background: #236e17;
    border-color: transparent;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#places-list .place {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#places-list h3 {
    font-size: 1.2em;
    color: #000;
    text-transform: uppercase;
}

#places-list p {
    font-size: 0.9em;
    color: #333;
}

#places-list .place {
    margin-bottom: 20px;
}

#places-list p {
    margin: 5px 0;
}

#places-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#places-list .place:hover {
    background-color: rgba(59, 211, 48, 0.36);
    border-color: #236e17;
    border-width: 3px;
}

#back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

#back-to-top-button a {
    text-decoration: none;
    color: #fff;
}
